name: bubble_timeline
description: A Flutter Widget to make interactive timeline widget. This widget provides easy customisation of individual event bubbles.
version: 1.0.5
homepage: https://github.com/vanshg395/bubble_timeline

environment:
  sdk: ">=2.3.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

